a div {
    display: flex;
    align-items: center;
    gap: 5px;
    color: var(--text-color);
}

.links {
    display: flex;
    flex-wrap: wrap;
    column-gap: 2rem;
    font-size: .9rem;
    padding: 0.5rem 0 .5rem 0;
}