.bullet-point {
    display: flex;
    font-size: 0.85rem;
    color: var(--light-text-color);
    line-height: 100%;
    margin-top: 3px;
    width: 100%;
}

.point-svg {
    color: var(--light-text-color);
}