@import url("./assets/fonts/fonts.css");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  border: none;
  outline: none;
  text-decoration: none;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

:root {
  --cv-text-color: #2a363b;
  --cv-light-text-color: #2a363bd7;
  --cv-main-color: #1a46a0;
  --cv-company-color: #548dff;
  --cv-separator-color: #2a363b2f;
}

body {
  color: var(--cv-text-color);
}

#root {
  font-family: 'Poppins', sans-serif;
  width: 793px;
  height: 1122px;
  margin: 0 auto 0 auto;
}

.cv-content-box {
  display: flex;
  flex-direction: column;
  gap: 1px;
  border-bottom: 2px dashed var(--cv-separator-color);
  padding-bottom: 0.6rem;
  padding-top: 0.6rem;
}

.cv-content-box:last-child {
  border: none;
}

.cv-container svg, .cv-header svg {
  color: var(--cv-main-color);
}