* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  border: none;
  outline: none;
  text-decoration: none;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

:root {
  --text-color: #2a363b;
  --light-text-color: #2a363bd7;
  --main-color: #c3195d;
  --company-color: #f70776;
  --separator-color: #2a363b2f;
}

body {
  font-family: 'Poppins', sans-serif;
  color: var(--text-color);
}

.content-box {
  display: flex;
  flex-direction: column;
  gap: 1px;
  border-bottom: 2px dashed var(--separator-color);
  padding-bottom: 0.6rem;
  padding-top: 0.6rem;
}

.content-box:last-child {
  border: none;
}

svg {
  color: var(--main-color);
}